[submodule "backend"]
	path = backend
	url = https://github.com/blogroulette/backend-jee.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/blogroulette/frontend-angular.git
	branch = master
[submodule "presentation"]
	path = presentation
	url = https://github.com/blogroulette/presentation
